/*_variables y _mixins*/
/*_base*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: none;
}

a {
  color: rgba(255, 255, 255, 0.952);
  border: none;
  text-decoration: none;
}

/*_layout*/
header {
  display: flex;
  justify-content: space-around;
  padding-block: 0.8rem;
  background: linear-gradient(#0f0f0a, #383120);
  box-shadow: 0 -20px 26px rgb(0, 255, 21);
}
header .logo-container {
  width: 15%;
  flex-shrink: 2;
}
header .logo-container .logo {
  width: 100%;
  height: 100%;
  color: #fdcc00;
  font-size: 1rem;
  text-shadow: #fc0 1px 0 10px;
  padding-block: 0.6rem;
}
header nav {
  padding: 10px 5px;
  width: auto;
}
header nav .navbar-list {
  display: flex;
  justify-content: space-around;
}
header nav .navbar-list li {
  list-style: none;
}
header nav .navbar-list li a {
  color: rgba(255, 255, 255, 0.952);
  padding: 2px 10px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
}
header nav .navbar-list li a:hover {
  color: #fdcc00;
  text-shadow: #fc0 1px 0 10px;
  border-bottom: 1px solid #fc0;
}
li a header nav:hover {
  text-decoration: underline;
}

body {
  background: linear-gradient(#0f0f0a, #383120);
  font-family: "Roboto Mono", monospace;
}

footer {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  margin-top: 1rem;
  background: linear-gradient(#0f0f0a, #383120);
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

/* Estilos para la lista dentro del footer */
.footer-list {
  display: flex;
  padding: 0.5px;
}
.footer-list li {
  list-style: none;
}
.footer-list li a {
  color: rgba(255, 255, 255, 0.952);
  padding: 2px 10px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
}
.footer-list li a:hover {
  color: #fdcc00;
  text-shadow: #fc0 1px 0 10px;
  border-bottom: 1px solid #fc0;
}

/*media*/
/*_components*/
.btn {
  display: flex;
  width: auto;
  margin: auto;
  background: linear-gradient(rgb(245, 223, 135), #fcc900);
  color: #090a07;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  transition: background 0.9s, color 0.1s, border 0.3s;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  outline: none;
  transition: 0.7s;
}
.btn a {
  text-decoration: none;
  color: #090a07;
  font-weight: 700;
}
.btn a:hover {
  color: rgba(255, 255, 255, 0.952);
}
.btn:hover {
  background: linear-gradient(#383120, #000000, #383120);
  box-shadow: 0rem 0rem 1rem #fdcc00;
  color: #fdcc00;
}
.btn:hover a {
  color: #fdcc00;
}

.title {
  width: 90%;
  margin: 0 auto;
  height: fit-content;
  text-align: center;
  font-size: 1.1rem;
  color: #ffffff;
  justify-content: center;
  padding-block: 1rem;
}
.title strong {
  color: #fdcc00;
}

.rutinas-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;
}
.rutinas-container .rutinas-cards {
  background-color: #383120;
  width: 30%;
  height: 475px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0rem 0rem 0.9rem black;
  transition: 0.5s;
}
.rutinas-container .rutinas-cards img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.rutinas-container .rutinas-cards h4 {
  max-width: 90%;
  height: 3.5rem;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.rutinas-container .rutinas-cards:hover {
  scale: 1.02;
  box-shadow: 0rem 0rem 1rem #fdcc00;
}

.articulos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}
.articulos-container .articulos-cards {
  width: none;
  height: 475px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0rem 0rem 0.9rem black;
  transition: 0.5s;
}
.articulos-container .articulos-cards img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.articulos-container .articulos-cards:hover {
  scale: 1.02;
  box-shadow: 0rem 0rem 1rem #fdcc00;
}
.articulos-container .articulos-cards a {
  text-align: center;
}

.hr-container {
  display: flex;
  justify-content: center;
  margin-block: 1rem;
}
.hr-container hr {
  background-color: #fc0;
  border-color: #fdcc00;
  height: 1px;
  width: 70vw;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
