/*_variables y _mixins*/
/*_base*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

button,
input,
.mensaje-conatiner textarea {
  border: none;
}

a {
  color: rgba(255, 255, 255, 0.952);
  border: none;
  text-decoration: none;
}

p {
  color: rgba(255, 255, 255, 0.952);
}

/*_layout*/
header {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 0.5rem;
  background: linear-gradient(#000000, rgba(56, 49, 32, 0.368627451));
  box-shadow: 0 0px 4px rgba(88, 68, 0, 0.411) inset;
}
header .logo-container {
  display: flex;
  width: 15%;
  flex-shrink: 2;
}
header .logo-container .logo {
  width: 100%;
  color: #fdcc00;
  font-size: 1rem;
  text-shadow: #fc0 1px 0 10px;
  padding-block: 0.6rem;
}
header nav {
  width: auto;
}
header nav .navbar-list {
  display: flex;
  justify-content: space-around;
}
header nav .navbar-list li {
  list-style: none;
}
header nav .navbar-list li a {
  color: rgba(255, 255, 255, 0.952);
  padding: 2px 10px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
}
header nav .navbar-list li a:hover {
  color: #fdcc00;
  text-shadow: #fc0 1px 0 7px;
  border-bottom: 1px solid #fc0;
}
header nav .navbar-list i {
  color: rgba(255, 255, 255, 0.952);
  padding-left: 5px;
}

body {
  background: linear-gradient(#0f0f0a, #383120);
  font-family: "Plus Jakarta Sans", sans-serif;
}

footer {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  margin-top: 1rem;
  background: linear-gradient(#0f0f0a, #383120);
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
footer .logo-container {
  display: flex;
  width: 15%;
  flex-shrink: 2;
}
footer .logo-container .logo {
  width: 100%;
  color: #fdcc00;
  font-size: 1rem;
  text-shadow: #fc0 1px 0 10px;
  padding-block: 0.6rem;
}

/* Estilos para la lista dentro del footer */
.footer-list {
  display: flex;
  padding: 0.5px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.footer-list li {
  list-style: none;
}
.footer-list li a {
  color: rgba(255, 255, 255, 0.952);
  padding: 2px 10px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
}
.footer-list li a:hover {
  color: #fdcc00;
  text-shadow: #fc0 1px 0 7px;
  border-bottom: 1px solid #fc0;
}

/*media*/
@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header .logo-container {
    width: 100%;
    margin: auto 25px;
  }
  header .navbar-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
  .rutinas-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 90%;
    margin: auto;
  }
  .rutinas-container .rutinas-cards {
    width: 100%;
  }
  .articulos-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .articulos-container .articulos-cards {
    width: 100%;
  }
  .form-container {
    width: 90%;
    height: auto;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  footer .footer-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rutinas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 95%;
    margin: auto;
  }
  .rutinas-container .rutinas-cards {
    width: 45%;
  }
  .movil-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 1rem;
  }
  .articulos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .articulos-container .articulos-cards {
    width: 100%;
  }
  .form-container {
    width: 70%;
  }
  footer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .rutinas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }
  .rutinas-container .rutinas-cards {
    width: 30%;
  }
  .movil-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
  }
  .articulos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .articulos-container .articulos-cards {
    width: 100%;
  }
  .form-container {
    width: 45%;
    height: 100vh;
  }
}
/*_components*/
.btn {
  display: flex;
  width: auto;
  margin: auto;
  background: linear-gradient(rgba(255, 238, 170, 0.877), #ffdb4d, #ffcc00);
  color: #090a07;
  padding: 0.5rem 0.8rem;
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  transition: background 0.9s, color 0.1s, border 0.3s;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  outline: none;
  transition: 0.7s;
}
.btn a {
  text-decoration: none;
  color: #090a07;
}
.btn a:hover {
  color: rgba(255, 255, 255, 0.952);
}
.btn:hover {
  background: linear-gradient(#383120, #000000, #383120);
  box-shadow: 0rem 0rem 1rem #fdcc00;
  color: #fdcc00;
}
.btn:hover a {
  color: #fdcc00;
}

.animacion {
  animation: shadow-drop-br 3s ease-in-out infinite reverse;
}

@keyframes shadow-drop-br {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0px 0px 10px 2px rgb(238, 202, 0);
  }
}
.title, .special-title {
  width: 90%;
  margin: 0 auto;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-size: 1.1rem;
  color: #ffffff;
  justify-content: center;
  padding-block: 1rem;
  letter-spacing: 0.3px;
}
.title strong, .special-title strong {
  color: #fdcc00;
}
.title a, .special-title a {
  color: #fff131;
  letter-spacing: 2px;
}
.title a:hover, .special-title a:hover {
  color: #fdcc00;
  text-decoration: underline;
}

.special-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fdcc00;
}

.parrafo {
  width: 99%;
  margin-bottom: 1rem;
  font-weight: 400;
}

.movil-container {
  background-color: #0f0f0a;
  padding-top: 1.5rem;
}
.movil-container img {
  width: 90%;
}
.movil-container div {
  margin: auto;
  width: 85%;
  text-align: center;
}
.movil-container div img {
  width: 40%;
}
.movil-container div img:hover {
  scale: 1.2;
}

.rutinas-container {
  margin-block: 2rem;
}
.rutinas-container .rutinas-cards {
  background: linear-gradient(#000000, rgba(75, 54, 9, 0.5333333333), #000000);
  width: none;
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0rem 0rem 0.9rem black;
  transition: 0.5s;
}
.rutinas-container .rutinas-cards img {
  width: 100%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rutinas-container .rutinas-cards h4 {
  max-width: 95%;
  font-size: 0.9rem;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.rutinas-container .rutinas-cards:hover {
  scale: 1.05;
}
.rutinas-container .rutinas-cards:hover {
  background: linear-gradient(#000000, #000000, rgba(75, 54, 9, 0.5333333333));
}

.articulos-container {
  margin: 1rem;
}
.articulos-container .articulos-cards {
  width: none;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0rem 0rem 0.9rem black;
  transition: 0.5s;
}
.articulos-container .articulos-cards img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.articulos-container .articulos-cards:hover {
  scale: 1.05;
}
.articulos-container .articulos-cards div {
  background-color: rgba(0, 0, 0, 0.849);
  top: -65%;
  position: relative;
  padding: 2rem;
  text-align: center;
  opacity: 0.9;
}
.articulos-container .articulos-cards div:hover {
  opacity: 1;
}
.articulos-container .articulos-cards a {
  color: #fdcc00;
}
.articulos-container .articulos-cards a:hover {
  border-bottom: 1px solid #fc0;
}

.hr-container {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}
.hr-container hr {
  background-color: #fc0;
  border-color: #fdcc00;
  height: 1px;
  width: 70vw;
  margin: auto;
}

.rotate-scale-down-ver {
  animation: rotate-scale-down-ver 2s 3 both;
}

@keyframes rotate-scale-down-ver {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(0.5) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(360deg);
  }
}
.form-container {
  margin: auto;
}

.registrarse-section {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  /* Iniciar sesion con google */
  border-radius: 50px 0 50px 0;
  background-color: #0f0f0a;
  box-shadow: 10px 8px 8px #0f0f0a;
}
.registrarse-section section {
  width: 80%;
}
.registrarse-section .google-signin-contenedor {
  border: 1px solid rgba(183, 188, 196, 0.2549019608);
  text-align: center;
  margin: 0 auto;
  width: 90%;
  height: 4rem;
}
.registrarse-section .google-signin-contenedor img {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-bottom: 0;
}
.registrarse-section .google-signin-contenedor .ingresar-p {
  color: #fdcc00;
  font-size: 0.9rem;
}
.registrarse-section .google-signin-contenedor .ingresar-p:hover {
  color: rgba(255, 255, 255, 0.952);
  font-size: 1rem;
  text-shadow: 3px 3px 10px #fdcc00;
}
.registrarse-section .registrarse-form {
  width: 100%;
}
.registrarse-section .registrarse-form fieldset,
.registrarse-section .registrarse-form legend {
  border: none;
  color: #ffffff;
  margin-bottom: 10px;
}
.registrarse-section .registrarse-form input, .registrarse-section .registrarse-form .mensaje-conatiner textarea, .mensaje-conatiner .registrarse-section .registrarse-form textarea {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
  padding: 10px;
  color: #0f0f0a;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #383120;
  border-style: none;
  border-radius: 10px;
}
.registrarse-section .registrarse-form input::-moz-placeholder, .registrarse-section .registrarse-form .mensaje-conatiner textarea::-moz-placeholder, .mensaje-conatiner .registrarse-section .registrarse-form textarea::-moz-placeholder {
  color: rgba(253, 202, 0, 0.9725490196);
}
.registrarse-section .registrarse-form input::placeholder, .registrarse-section .registrarse-form .mensaje-conatiner textarea::placeholder, .mensaje-conatiner .registrarse-section .registrarse-form textarea::placeholder {
  color: rgba(253, 202, 0, 0.9725490196);
}
.registrarse-section .registrarse-form input:focus, .registrarse-section .registrarse-form .mensaje-conatiner textarea:focus, .mensaje-conatiner .registrarse-section .registrarse-form textarea:focus {
  outline: none;
  border: 2px solid #fc0;
  background-color: rgba(56, 49, 32, 0.5764705882);
}
.registrarse-section .registrarse-form input:hover, .registrarse-section .registrarse-form .mensaje-conatiner textarea:hover, .mensaje-conatiner .registrarse-section .registrarse-form textarea:hover {
  box-shadow: 0rem 0rem 0.5rem #fdcc00;
  color: #fdcc00;
}
.registrarse-section .registrarse-form label {
  color: #e2e2e2;
  font-weight: 700;
}

.link-recuperar-pass a {
  color: #fdcc00;
}
.link-recuperar-pass a:hover {
  color: rgba(255, 255, 255, 0.952);
  font-size: 1.1rem;
  text-shadow: 3px 3px 10px #fdcc00;
}

.footer-form-container {
  width: 70%;
  height: auto;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mensaje-conatiner {
  display: flex;
  flex-direction: column;
}
.mensaje-conatiner textarea {
  height: 200px;
  resize: vertical;
}

.nosotros p {
  color: #b7bcc4;
  font-family: "Roboto Mono", monospace;
}
.nosotros .nosotros-list {
  width: 60%;
  margin: 30px;
}
.nosotros .nosotros-list li {
  color: rgba(255, 255, 255, 0.952);
  font-family: "Roboto Mono", monospace;
  list-style: none;
  box-shadow: 10px 10px 5px black;
  margin: 1.5rem;
  border-radius: 15px;
  padding: 1rem;
}

.filtrar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.filtrar select, .filtrar .input-buscar-container input, .filtrar .input-buscar-container .mensaje-conatiner textarea, .mensaje-conatiner .filtrar .input-buscar-container textarea {
  border: none;
  border-radius: 5%;
  padding: 0.5rem;
  margin: 0.5rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(rgba(255, 238, 170, 0.877), #ffdb4d, #ffcc00);
  transition: background 0.3s;
}
.filtrar .input-buscar-container {
  position: relative;
}
.filtrar .input-buscar-container input, .filtrar .input-buscar-container .mensaje-conatiner textarea, .mensaje-conatiner .filtrar .input-buscar-container textarea {
  padding: 10px 30px 10px 10px;
  cursor: pointer;
}
.filtrar .input-buscar-container input:hover:hover, .filtrar .input-buscar-container .mensaje-conatiner textarea:hover:hover, .mensaje-conatiner .filtrar .input-buscar-container textarea:hover:hover {
  scale: 1.05;
}
.filtrar .input-buscar-container span {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.noticias {
  background: #0f0f0a;
  margin-top: 1rem;
  padding-block: 2rem;
}
.noticias article form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.noticias article form h2 {
  font-weight: 700;
  color: #fff131;
}
.noticias article form p {
  font-weight: 300;
  width: 60%;
  padding: 1rem;
}

.inputs-container {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 70%;
}
.inputs-container input, .inputs-container .mensaje-conatiner textarea, .mensaje-conatiner .inputs-container textarea {
  width: 70%;
  padding: 1rem;
  background: #383120;
  color: #fdcc00;
  border-radius: 100vmax;
}
.inputs-container input:focus, .inputs-container .mensaje-conatiner textarea:focus, .mensaje-conatiner .inputs-container textarea:focus {
  outline: none;
  border: 1px solid;
  color: #fdcc00;
}
.inputs-container input::-moz-placeholder, .inputs-container .mensaje-conatiner textarea::-moz-placeholder, .mensaje-conatiner .inputs-container textarea::-moz-placeholder {
  color: #fdcc00;
}
.inputs-container input::placeholder, .inputs-container .mensaje-conatiner textarea::placeholder, .mensaje-conatiner .inputs-container textarea::placeholder {
  color: #fdcc00;
}
.inputs-container button {
  background: #383120;
  color: #fff131;
  padding: 1rem;
  border-radius: 100vmax;
  font-weight: 500;
}
.inputs-container button:hover {
  border: 1px solid #fdcc00;
  background: linear-gradient(#0f0f0a, #383120);
}

.welcome {
  display: flex;
  background-image: url(../../assets/images/welcome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: optimizeQuality;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.welcome h1, .welcome h2 {
  font-size: 2rem;
  text-shadow: 2px 2px 7px #0f0f0a;
}/*# sourceMappingURL=styles.css.map */