@media #{map-get($breakpoints, sm)}{
    header{
        display: flex;
        flex-direction: column;
       .navbar-list {
        @include d-flex(column, nowrap, center, flex-start, 1rem)
       }
    }

    .rutinas-container {
        width: 100%;
        @include d-flex(column, nowrap, center, flex-start, 1rem);
        .rutinas-cards {
            width: 100%;
        }
    }
}