@media #{map-get($breakpoints, sm)} {
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .logo-container {
            width: 100%;
        }
        .navbar-list {
            @include d-flex(column, nowrap, center, flex-start, 1rem);
        }
    }
    .index-rutinas-container {
        article {
            @include d-flex(column, wrap, center, center, 1rem);
            img {
                width: 60%;
            }
        }
    }

    .rutinas-container {
        width: 90%;
        margin: auto;

        .rutinas-cards {
            @include d-grid(1fr, 0.3rem);
            width: 100%;
            p {
                font-size: 0.9rem;
                padding: 0.5rem;
                font-weight: map-get($font-w, extra-ligth);
            }
            button {
                margin-block: 1rem;
            }
        }
    }

    aside {
        margin: 2rem 0;
    }

    .articulos-container {
        width: 90%;
        @include d-grid(1fr, 1rem);
        .articulos-cards {
            width: 100%;
        }
    }

    .welcome {
        h1,
        h2 {
            font-size: 1.5rem;
        }
    }

    .inputs-container {
        width: 90%;
        flex-direction: column;
        input {
            width: 100%;
        }
        p {
            width: 100%;
        }
    }

    .form-container {
        width: 90%;
        height: auto;
        margin: 2rem auto;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: auto;

        .footer-list {
            @include d-flex(column, nowrap, center, flex-start, 1rem);
        }
    }
}
