@media #{map-get($breakpoints, sm)} {
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .logo-container {
            width: 100%;
            margin: auto 25px;
        }
        .navbar-list {
            @include d-flex(column, nowrap, center, flex-start, 1rem);
        }
    }

    .rutinas-container {
        @include d-flex(column, nowrap, center, flex-start, 1rem);
        width: 90%;
        margin: auto;
        .rutinas-cards {
            width: 100%;
        }
    }

    .articulos-container {
        width: 90%;
        @include d-grid(1fr, 1rem);
        .articulos-cards {
            width: 100%;
        }
    }

    .form-container {
        width: 90%;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: auto;

        .footer-list {
            @include d-flex(column, nowrap, center, flex-start, 1rem);
        }
    }
}
