@media #{map-get($breakpoints, md)} {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .index-rutinas-container {
        article {
            @include d-flex(column, wrap, center, center, 1rem);
            img {
                width: 60%;
            }
        }
    }

    .rutinas-container {
        width: 90%;
        margin: auto;

        .rutinas-cards {
            @include d-grid(1fr, 0.2rem);
            width: 100%;
            margin: 1rem;
            p {
                font-size: 0.9rem;
                padding: 1rem;
                font-weight: map-get($font-w, extra-ligth);
            }
            button {
                margin-block: 1rem;
            }
        }
    }

    aside {
        margin: 2rem 0;
    }

    .movil-container {
        @include d-grid(1fr, 1rem);
        align-items: center;
        justify-items: center;
    }

    .articulos-container {
        @include d-grid(1fr 1fr, 1rem);
        .articulos-cards {
            width: 100%;
        }
    }

    .welcome {
        h1,
        h2 {
            font-size: 2rem;
        }
    }

    .inputs-container {
        width: 90%;
        flex-direction: row;
        input {
            width: 80%;
        }
    }

    .form-container {
        width: 70%;
    }

    footer {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
