@media #{map-get($breakpoints, lg)} {
    header {
        padding-block: 1rem;
    }

    .rutinas-container {
        width: 100%;
        .rutinas-cards {
            margin: 2rem;
            @include d-grid(1.5fr 2fr, 1rem);
            width: 29%;
            button {
                margin-block-start: 3rem;
            }
        }
    }

    .rutinas-main-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin: 1rem 2rem;
    }

    .movil-container {
        @include d-grid(2fr 1fr, 1rem);
        align-items: center;
        justify-items: center;
    }

    .articulos-container {
        @include d-grid(1fr 1fr 1fr, 1.5rem);
        .articulos-cards {
            width: 100%;
        }
    }

    .welcome {
        h1,
        h2 {
            font-size: 2rem;
        }
    }

    .noticias {
        p {
            width: 60%;
        }
    }
    .inputs-container {
        width: 90%;
        flex-direction: row;
        input {
            width: 60%;
        }
    }

    .form-container {
        width: 45%;
        height: 100vh;
    }
}
