$breakpoints: (
  sm: "(max-width: 480px)",
  md: "(min-width: 481px) and (max-width: 767px)",
  lg: "(min-width: 768px)"
);

$font-w: (
  extra-ligth: 200,
  ligth: 300,
  regular: 400,
  medium: 500,
  bold: 700
);
