$font-color-primary: rgba(255, 255, 255, 0.952);
$font-color-secondary: #fdcc00;
$links-color: #fff131;
$bg-color-primary: #0f0f0a;
$bg-color-secondary: #383120;
$bg-gradient: linear-gradient($bg-color-primary, $bg-color-secondary);
$font-family: 'Plus Jakarta Sans', sans-serif;