@import "../utilities/mixins";

header {
    font-family: $font-family;
    @include flex;

    padding-block: 0.8rem;
    margin-bottom: 1rem;
    background: linear-gradient( #000000, #3831205e );
    box-shadow: 0 0px 4px rgba(88, 68, 0, 0.411) inset;
    .logo-container {
        width: 15%;
        flex-shrink: 2;
        .logo {
            width: 100%;
            height: 100%;
            color: $font-color-secondary;
            font-size: 1rem;
            text-shadow: #fc0 1px 0 10px;
            padding-block: 0.6rem;
        }
    }

    nav {
        padding: 10px 5px;
        width: auto;

        .navbar-list {

            @include flex;

            @include a-style;
            

        }
        li a &:hover{
            text-decoration: underline;
        }
    }
}
