@import "../utilities/mixins";

header {
    font-family: $font-family;
    font-weight: map-get($font-w, medium);
    @include flex;
    align-items: center;
    padding-block: .5rem;
    background: linear-gradient(#000000, #3831205e);
    box-shadow: 0 0px 4px rgba(88, 68, 0, 0.411) inset;
    @include logo-styles;

    nav {
        width: auto;

        .navbar-list {
            @include flex;

            @include a-style;

            i{
                color: $font-color-primary;
                padding-left: 5px;
            }
        }

    }
}



