.btn {
    display: flex;
    width: auto;
    margin: auto;
    background: linear-gradient(rgba(255, 238, 170, 0.877), #ffdb4d, #ffcc00);
    color: #090a07;
    padding: 0.5rem 0.8rem;
    border-radius: 100vmax;
    border: none;
    cursor: pointer;
    transition:
        background 0.9s,
        color 0.1s,
        border 0.3s;
    font-family: $font-family;
    font-size: 0.9rem;
    font-weight: map-get($font-w, medium);
    outline: none;
    transition: 0.7s;
    a {
        text-decoration: none;
        color: #090a07;
        &:hover {
            color: $font-color-primary;
        }
    }
    &:hover {
        background: linear-gradient(#383120, #000000, #383120);
        box-shadow: 0rem 0rem 1rem #fdcc00;
        color: $font-color-secondary;
        a {
            color: $font-color-secondary;
        }
    }
}

