
li {
    list-style: none;
    a {
        color: $font-color-primary;
        padding: 10px;
        font-size: 1rem;
        text-decoration: none;
        &:hover {
            color: $font-color-secondary;
            text-shadow: #fc0 1px 0 10px;
        }
    }
}
