.noticias {
    background: $bg-color-primary;
    margin-block: 2rem;
    padding-block: 2rem;
    article {
        form {
            @include d-flex(column, nowrap, center, center, 1rem);
            text-align: center;

            h2 {
                font-weight: map-get($font-w, bold);
                color: $links-color;
            }

            p {
                font-weight: map-get($font-w, ligth);
                padding: 1rem;
            }
        }
    }
}

.inputs-container {
    display: flex;
    @include d-flex(none, wrap, center, center, 1rem);

    input {
        padding: 1rem;
        background: $bg-color-secondary;
        color: $font-color-secondary;
        border-radius: 100vmax;
        &:focus {
            outline: none;
            border: 1px solid;
            color: $font-color-secondary;
        }
        &::placeholder {
            color: $font-color-secondary;
            opacity: .7;
        }
    }

    button {
        background: $bg-color-secondary;
        color: $links-color;
        padding: 1rem;
        border-radius: 100vmax;
        font-weight: map-get($font-w, medium );
        &:hover {
            border: 1px solid $font-color-secondary;
            background: $bg-gradient;
        }
    }
}



.sub-premium-motivation {
    text-align: center;
    margin-bottom: 2rem;
    h4 {
        color: $font-color-secondary;
        font-size: 1.1rem;
        width: 90%;
        margin: auto;
    }

    p {
       margin: 1rem auto;
       width: 90%;
       font-weight: map-get($font-w, extra-ligth);
    }
}

.sub-premium-info{
    
    @include d-flex(column, wrap ,center, center, 1rem);
    text-align: center;
    border-bottom: 1px solid #eeff00;
    border-top: 1px solid #eeff00;
    border-radius: 10px;
    padding: 1rem;
    h3 {
        color: $font-color-secondary;
    }
    ul {
        list-style: none;
        li {
            margin-block: .3rem;
            font-weight: map-get($font-w, medium);
            color: $font-color-secondary;
        }
    }
}

.contratar {
    @include d-flex(row, wrap, center, center ,1rem);
}

.contratar-card {
    border-bottom: 1px solid #eeff00;
    border-top: 1px solid #eeff00;
    border-radius: 25%;
    margin: 1rem;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 1px -5px 10px #eeff0069;

    h4{
        color: $links-color;
        padding: .4rem;
    }
    span {
        color: $font-color-primary;
        font-size: 2rem;
        padding: .3rem;
        margin: .3rem;
    }
    hr {
        width: 50%;
        margin: .2rem auto;
        border: 1px solid #eeff0069;  
    }

    a {
        margin-block: 3rem;
        padding: .7rem;
        color: #00d400;
        &:hover{
            color: $links-color;
        }
    }
}