.rutinas-container {
    margin-block: 2rem;
    .rutinas-cards {
        margin: 1rem auto;
        @include card(100%, auto, 0, 100%, 300px, cover);
        h4 {
            color: $links-color;
            max-width: 95%;
            font-size: 1.3rem;
            font-style: italic;
            height: auto;
            display: flex;
            flex-wrap: wrap;
        }
        p {
            text-align: justify;
            width: 90%;
            font-size: .9rem;
            font-weight: map-get($font-w, ligth);
        }
        @include hover-style;

        &:hover {
            @include box-shadow;
        }
    }
}

.articulos-container {
    margin: 1rem;
    .articulos-cards {
        @include card(none, 300px, 30px, 100%, 100%, cover);
        @include hover-style;
        &:hover {
            @include box-shadow;
        }
        div {
            background-color: rgba(0, 0, 0, 0.849);
            top: -65%;
            position: relative;
            padding: 2rem;
            text-align: center;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
        }
        a {
            color: $font-color-secondary;
            &:hover {
                border-bottom: 1px solid #fc0;
            }
        }
    }
}
