.title {
  width: 90%;
  margin: 0 auto;
  height: fit-content;
  text-align: center;
  font-size: 1.1rem;
  color: #ffffff;
  justify-content: center;
  padding-block: 1rem;
  letter-spacing: .3px;
  strong {
    color: $font-color-secondary;
  }

  a {
    color: $links-color;
    letter-spacing: 2px;
   
    &:hover {
      color: $font-color-secondary;
      text-decoration: underline;
    }
  }
}

.special-title {
  @extend .title;
  font-size: 1.2rem;
  font-weight: 700;
  color: $font-color-secondary;
}

.parrafo {
  width: 99%;
  margin-bottom: 1rem;
  font-weight: 500;
}
