* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    border: none;
}

a {
    color: $font-color-primary;
    border: none;
    text-decoration: none;
}

p {
    color: $font-color-primary;
}
